<link rel='stylesheet' href='/css/chat_box.css'>
<% if (locals.user){ %>
    <div id="chatbox">
        <!-- <button id="close-chat" class="close-chat-btn">&#10060;</button> -->
        <button id="close-chat" class="close-chat-btn">&minus;</button>
        <ul id="chat-messages-list">

        </ul>
        <div id="chat-message-input-container">
            <input type="text" id="chat-message-input" placeholder="Type message here">
            <button id="send-message">Send</button>
        </div>
    </div>
    <% } %>