<link rel='stylesheet' href='/css/form.css'>
<link rel="stylesheet" href="/css/reset_password.css">
<div class="main-container">
    <div class="left-section">
        <h2>About Codeial</h2>
        <p>Codeial is a leading platform for coders and developers to connect, collaborate, and share knowledge. Our
            community is dedicated to fostering a supportive environment where individuals can learn, grow, and succeed
            in their coding journey.</p>
        <p>Key Features:</p>
        <ul>
            <li>Connect with like-minded coders worldwide.</li>
            <li>Share your coding experiences and insights.</li>
            <li>Explore a diverse range of coding topics and discussions.</li>
            <li>Enhance your skills through collaborative projects.</li>
        </ul>
    </div>

    <div class="right-section">
        <h2>Reset Password</h2>

        <% if(access) { %>
            <form action="/users/update-password/<%= accessToken %>" method="POST">
                <label for="newPass">New Password:</label>
                <input type="password" id="newPass" name="newPass" required><br>
                <label for="confirmPass">Confirm New Password:</label>
                <input type="password" id="confirmPass" name="confirmPass" required><br>
                <input type="submit" value="Confirm">
            </form>
        <% } else { %>
            <p>Enter registered email address:</p>
            <form action="/users/send-reset-pass-mail" method="POST">
                <input type="email" name="email" placeholder="Email" required><br>
                <input type="submit" value="Submit">
            </form>
        <% } %>
    </div>
</div>