<link rel="stylesheet" href="/css/form.css">
<div class="main-container">
    <div class="left-section">
        <h2>About Codeial</h2>
        <p>Codeial is a leading platform for coders and developers to connect, collaborate, and share knowledge. Our
            community is dedicated to fostering a supportive environment where individuals can learn, grow, and succeed
            in
            their coding journey.</p>
        <p>Key Features:</p>
        <ul>
            <li>Connect with like-minded coders worldwide.</li>
            <li>Share your coding experiences and insights.</li>
            <li>Explore a diverse range of coding topics and discussions.</li>
            <li>Enhance your skills through collaborative projects.</li>
        </ul>
    </div>

    <div class="right-section">
        <h2>Sign Up</h2>
        <form action="/users/create" method="POST">
            <div class="form-group">
                <label for="name">Your Name:</label>
                <input type="text" id="name" name="name" placeholder="Your Name" required />
            </div>

            <div class="form-group">
                <label for="email">Your Email:</label>
                <input type="email" id="email" name="email" placeholder="Email" required />
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password" required />
            </div>

            <div class="form-group">
                <label for="password">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password"
                       required />
            </div>

            <button type="submit">Sign Up</button>
        </form>
        <div class="google-sign-in">
            <p class="text-muted">Or Sign In/Sign Up with</p>
            <a href="/users/auth/google" class="btn btn-danger google-btn">
                <img src="/images/svg/google.svg" alt="" width="24" height="24" fill="#fff">
                Google
            </a>
        </div>
    </div>
</div>