<div style="font-family: 'Arial', sans-serif; margin: 0; padding: 0; background-color: #f9f9f9; text-align: center;">
    <img src="cid:logo" alt="Company Photo"
         style="width: 40%; border-radius: 8px; pointer-events: none; margin-bottom: 20px;">

    <p style="margin: 0; font-size: 2em; color: #3498db;">
        Hi <strong style="color: #3498db;"><%= user.name %>,</strong>
    </p>

    <p style="color: #444; line-height: 1.6; font-size: 1.2em;">
        DO NOT SHARE THIS LINK WITH ANYONE
    </p>

    <p style="color: #444; line-height: 1.6; font-size: 1.2em;">
        Use this link to reset the password of your Codeial account.
        <a href="http://codeial-social.onrender.com/users/reset-password/<%= user.accessToken %>"
           style="color: #3498db; text-decoration: none;">Click here!</a>
    </p>

    <p style="color: #444; line-height: 1.6; font-size: 1.2em;">
        Or paste the given link in your browser:<a
                href="http://codeial-social.onrender.com/users/reset-password/<%= user.accessToken %>"
                style="color: #3498db; text-decoration: none;">http://codeial-social.onrender.com/users/reset-password/<%= user.accessToken %>
        </a>
    </p>

    <p style="font-weight: bold; font-size: 1.5em; color: #e74c3c; margin-bottom: 10px;text-align: center">Thanks</p>

    <p style="font-size: 1em; color: #777; margin-bottom: 10px;">
        Company Established: January 1, 2023
    </p>

    <p style="font-size: 1em; color: #777; margin-bottom: 10px;">
        All Rights Reserved © 2024 Codeial
    </p>
</div>
