<div style="font-family: 'Arial', sans-serif; margin: 0; padding: 0; background-color: #f9f9f9; text-align: center;">
    <img src="cid:logo" alt="Company Photo"
        style="width: 40%; border-radius: 8px; pointer-events: none; margin-bottom: 20px;">

    <p style="margin: 0; font-size: 2em; color: #3498db;">
        Hi <strong style="color: #3498db;">
            <%= user.name %>,
        </strong>
    </p>

    <p style="color: #444; line-height: 1.6; font-size: 1.2em;">
        We are happy to have you onboard. Codeial helps you connect and share with the people in your life. Happy coding
        social life !!
    </p>

    <p style="font-weight: bold; font-size: 1.6em; color: #e74c3c; margin-bottom: 10px; text-align: center;">Welcome
        :)</p>

    <p style="font-size: 1em; color: #777; margin-bottom: 10px;">
        Company Established: January 1, 2023
    </p>

    <p style="font-size: 1em; color: #777; margin-bottom: 10px;">
        All Rights Reserved © 2024 Codeial
    </p>
</div>