#chat-icon-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;

  #chat-icon {
    width: 80px;
    height: 80px;
    cursor: pointer;
  }
}

.close-chat-btn {
  position: absolute;
  top: 5px;
  right: 20px;
  background: none;
  border: none;
  font-size: 40px;
  color: red;
}

#chatbox {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 1px solid darkgrey;
  border-radius: 15px;
  height: 450px;
  width: 400px;
  background: white;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 9998;
  display: none;

  ul {
    margin: 0;
  }

  #chat-messages-list {
    list-style: none;
    padding: 10px;
    height: 85%;
    background: url('/images/png/bg-chat.png');
    overflow: auto;
    border-radius: 5px;

    .other-message {
      text-align: left;
      padding: 10px;

      span {
        display: inline-block;
        padding: 8px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        background-color: #ffcbcb;
        border-radius: 8px;
        font-size: 1.5rem;
      }
    }

    .self-message {
      text-align: right;
      padding: 10px;

      span {
        display: inline-block;
        padding: 8px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        background-color: #c5deff;
        border-radius: 8px;
        font-size: 1.5rem;
      }
    }
  }

  #chat-message-input-container {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    #chat-message-input {
      flex: 1;
      height: 100%;
      width: calc(100% - 100px);
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 25px;
      font-size: 16px;
    }

    #send-message {
      height: 100%;
      width: 100px;
      font-size: 18px;
      color: white;
      border: none;
      border-radius: 25px;
      background: #58d258;
      cursor: pointer;
      margin-left: 10px;
    }
  }
}

#chat-messages-list::-webkit-scrollbar {
  width: 10px;
}

#chat-messages-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#chat-messages-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
  border: 2px solid white;
}

.other-message sub,
.self-message sub {
  display: block;
  font-size: 15px;
  color: grey;
  margin-top: 5px;
  text-align: right;
}

.other-message sub {
  text-align: left;
}
