.heading-container {
  text-align: center;
  margin: 20px;
}

.heading {
  font-size: 2rem;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Cascadia Mono";
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: flex-start;

  .no-post {
    color: red;
    padding: 2rem;
    margin: 0 auto;
  }

  .posts {
    background-color: #f9f9f9;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    flex: 1;
    min-width: 300px;
    max-width: 400px;

    &:hover {
      box-shadow: 0 0 5px;
      cursor: pointer;
    }

    .post-header {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .post-content {
        flex: 1;

        p {
          margin: 0;
          font-size: 1.2rem;
          font-weight: bold;
        }

        small {
          color: #666;
          font-size: 0.9rem;
          display: block;
          margin-top: 10px;

          a {
            color: red;
            text-decoration: none;
            transition: color 0.3s;

            &:hover {
              color: darkred;
            }
          }
        }
      }
    }

    .delete-btn {
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: red;
      }
    }
  }
}