#layout-header {
  background: teal;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  transition: background 0.3s ease; }
  #layout-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #layout-header nav .mini-logo p {
      margin: 0;
      font-weight: bold; }
      #layout-header nav .mini-logo p a {
        font-size: 2rem;
        color: white;
        text-decoration: none;
        transition: color 0.3s ease-in-out; }
        #layout-header nav .mini-logo p a:hover {
          color: #fd971f; }
    #layout-header nav .auth-links ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none; }
      #layout-header nav .auth-links ul li {
        margin-right: 15px; }
        #layout-header nav .auth-links ul li a {
          color: white;
          text-decoration: none;
          transition: color 0.3s ease; }
          #layout-header nav .auth-links ul li a:hover {
            color: #a6e22e; }
