#home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  #home-container #feed-posts {
    flex: 1;
    padding: 10px; }
    #home-container #feed-posts h3 {
      font-size: 1.6rem;
      font-weight: bolder;
      text-align: center;
      padding: 10px;
      color: #0e2954; }
    #home-container #feed-posts #post-container {
      display: flex;
      flex-direction: column; }
      #home-container #feed-posts #post-container #posts-list-container ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap; }
        #home-container #feed-posts #post-container #posts-list-container ul .posts {
          flex: 0 0 44%;
          margin: 8px;
          display: flex;
          flex-direction: column;
          text-align: center;
          border-radius: 8px;
          overflow: hidden;
          transition: box-shadow 0.3s;
          position: relative; }
          #home-container #feed-posts #post-container #posts-list-container ul .posts:hover {
            cursor: pointer;
            border: 1px solid black;
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.2); }
          #home-container #feed-posts #post-container #posts-list-container ul .posts p {
            margin: 10px 0;
            line-height: 1.4;
            word-wrap: break-word; }
          #home-container #feed-posts #post-container #posts-list-container ul .posts small {
            color: gray;
            margin-bottom: 8px; }
          #home-container #feed-posts #post-container #posts-list-container ul .posts .posts-comments {
            display: flex;
            flex-direction: column;
            background-color: #f0f0f0;
            padding: 15px;
            border-radius: 8px;
            margin-top: 10px; }
            #home-container #feed-posts #post-container #posts-list-container ul .posts .posts-comments form {
              margin-bottom: 10px;
              display: flex;
              align-items: center; }
              #home-container #feed-posts #post-container #posts-list-container ul .posts .posts-comments form input[type='text'] {
                flex: 1;
                padding: 8px;
                box-sizing: border-box;
                border: 1px solid #ccc;
                border-radius: 4px;
                margin-right: 8px; }
              #home-container #feed-posts #post-container #posts-list-container ul .posts .posts-comments form input[type='submit'] {
                background-color: #4caf50;
                color: white;
                padding: 8px 12px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.3s; }
                #home-container #feed-posts #post-container #posts-list-container ul .posts .posts-comments form input[type='submit']:hover {
                  background-color: #45a049; }
            #home-container #feed-posts #post-container #posts-list-container ul .posts .posts-comments .posts-comments-list {
              list-style-type: none;
              padding: 0;
              margin: 0; }
              #home-container #feed-posts #post-container #posts-list-container ul .posts .posts-comments .posts-comments-list li {
                background-color: white;
                border: 1px solid #ccc;
                border-radius: 8px;
                padding: 10px;
                margin: 2px; }
                #home-container #feed-posts #post-container #posts-list-container ul .posts .posts-comments .posts-comments-list li small {
                  color: #888; }
                #home-container #feed-posts #post-container #posts-list-container ul .posts .posts-comments .posts-comments-list li small a {
                  color: #3498db; }
          #home-container #feed-posts #post-container #posts-list-container ul .posts .like-container {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 1.1rem; }
            #home-container #feed-posts #post-container #posts-list-container ul .posts .like-container .fa-heart {
              color: #ccc;
              transition: color 0.3s;
              cursor: pointer; }
              #home-container #feed-posts #post-container #posts-list-container ul .posts .like-container .fa-heart.liked {
                color: red; }
  #home-container #friends-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    overflow-y: auto; }
    #home-container #friends-container #user-friends {
      padding: 6px; }
      #home-container #friends-container #user-friends h3 {
        font-size: 1.6rem;
        font-weight: bolder;
        color: #0e2954;
        padding: 10px;
        text-align: center; }
      #home-container #friends-container #user-friends li {
        margin-bottom: 8px;
        font-size: 1rem;
        color: #333;
        transition: color 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Cascadia Mono'; }
        #home-container #friends-container #user-friends li .user-friend-name {
          text-decoration: none;
          color: #5e5c5c; }
          #home-container #friends-container #user-friends li .user-friend-name:hover {
            color: red; }
        #home-container #friends-container #user-friends li .profile-picture {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 8px; }
  #home-container #new-post-form {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    #home-container #new-post-form textarea {
      padding: 10px;
      width: 90%;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      margin-right: 8px; }
    #home-container #new-post-form input[type='submit'] {
      background-color: #f85151;
      color: white;
      padding: 4px 12px;
      border-radius: 4px;
      font-size: 1.5rem;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s; }
      #home-container #new-post-form input[type='submit']:hover {
        background-color: #f01a1a;
        color: white; }
  #home-container .toggle-like-button {
    text-decoration: none; }

.deleted {
  color: red; }

.profile-picture-default {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: white; }

.no-friends {
  color: grey;
  padding: 75px;
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Cascadia Mono'; }

body::-webkit-scrollbar {
  width: 10px; }

body::-webkit-scrollbar-track {
  background: #2c3e50; }

body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 50px;
  border: 2px solid teal; }
