ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: flex-start; }
  ul .posts {
    background-color: #f9f9f9;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    flex: 1;
    min-width: 300px;
    max-width: 400px; }
    ul .posts:hover {
      box-shadow: 0 0 5px;
      cursor: pointer; }
    ul .posts .post-header {
      display: flex;
      align-items: center;
      gap: 10px; }
      ul .posts .post-header img {
        width: 50px;
        height: 50px;
        border-radius: 50%; }
      ul .posts .post-header .post-content {
        flex: 1; }
        ul .posts .post-header .post-content p {
          margin: 0;
          font-size: 1.2rem;
          font-weight: bold; }
        ul .posts .post-header .post-content small {
          color: #666;
          font-size: 0.9rem;
          display: block;
          margin-top: 10px; }
          ul .posts .post-header .post-content small a {
            color: red;
            text-decoration: none;
            transition: color 0.3s; }
            ul .posts .post-header .post-content small a:hover {
              color: darkred; }
    ul .posts .delete-btn {
      cursor: pointer;
      transition: color 0.3s; }
      ul .posts .delete-btn:hover {
        color: red; }
