.posts-section {
  list-style: none;
  margin: 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease; }
  .posts-section:hover {
    background-color: #f9f9f9; }
  .posts-section p {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333; }
  .posts-section small {
    color: #888; }
  .posts-section .fa-circle-xmark {
    color: #e74c3c; }
  .posts-section .posts-comments {
    margin-top: 20px; }
    .posts-section .posts-comments form {
      display: flex;
      gap: 10px;
      margin-bottom: 10px; }
      .posts-section .posts-comments form input[type='text'] {
        flex: 1;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s ease; }
        .posts-section .posts-comments form input[type='text']:focus {
          border-color: #3498db; }
      .posts-section .posts-comments form input[type='submit'] {
        background-color: #3498db;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease; }
        .posts-section .posts-comments form input[type='submit']:hover {
          background-color: #2980b9; }
    .posts-section .posts-comments .posts-comments-list ul {
      list-style: none;
      padding: 0; }
      .posts-section .posts-comments .posts-comments-list ul li {
        margin-bottom: 10px; }
        .posts-section .posts-comments .posts-comments-list ul li p {
          font-size: 1rem;
          color: #333; }
